@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Oleo+Script+Swash+Caps&display=swap");

body {
  background: rgba(215, 215, 215, 1);
}

#barraNav {
  background-color: darkblue;
  margin: 0;
  padding-left: 0;
  margin-left: 0;
  border: darkblue;
}

.titulo {
  text-align: center;
  font-family: "Alumni Sans Inline One", cursive;
  font-size: 50px;
  color: rgba(215, 215, 215, 1);
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 120px;
}

.user-entry-container {
  display: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 20px;
}

.user-entry-container:focus {
  text-transform: lowercase;
}

.user-entry-container:empty::before {
  position: absolute;
  content: "Ingrese el texto aqui";
  font-family: "Oleo Script Swash Caps", cursive;
}

#popUpBox {
  width: 500px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  z-index: 9999;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}

.btn {
  font-family: "Oleo Script Swash Caps", cursive;
}

#processResult {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 20px;
  outline: none;
  border: none;
  margin-top: 30px;
  height: 380px;
  width: 85%;
  resize: none;
}

#floatingTextarea {
  border: none;
  border-radius: 40px;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 25px;
  height: 700px;
  width: 100%;
  background-color: rgba(247, 247, 247, 1);
  resize: none;
}

label {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 25px;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#anyMessage {
  width: 50%;
}

#anyResultText {
  margin-top: 10px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 25px;
}

#textResult{
  margin-top: 10px;
  text-align: center;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 25px;
}

#result{
  position: relative;
}

#copy{
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
  color: grey;
  display: none;
}

#copy:hover{
  color: black;
  cursor: pointer;
}

#copy:active{
  color: rgba(163, 163, 163, 0.5);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 17px;
}

#footerContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#logo {
  width: 80px;
}

#noText {
  margin-left: 10px;
  width: 300px;
  display: none;
  height: 60px;
}

@media only screen and (max-width: 1280px) {
  #imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  #floatingTextarea {
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 25px;
    height: 600px;
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  #anyMessage {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #forBigScreens {
    display: none;
  }

  .form-floating {
    display: none;
  }

  .user-entry-container {
    display: block;
  }

  #popUpBox {
    height: 500px;
  }
}

@media only screen and (max-width: 560px) {
  #popUpBox {
    width: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .user-entry-container{
    font-size: 18px;
  }

  #popUpBox {
    width: 300px;
    height: 400px;
  }

  #processResult{
    height: 280px;
    font-size: 18px;
  }
}
