@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Oleo+Script+Swash+Caps&display=swap');

#barraNav {
    background-color: turquoise;
    padding: 8px;
    margin: 0;
    padding-left: 0;
    margin-left: 0;
    border: turquoise;
}

.titulo {
    text-align: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 50px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
    width: 120px;
}

label {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}

textarea {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
}
